*{
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
    /* border: 0.5px dotted rgb(248, 211, 211); */
}
        
img{ 
    display: block;
    max-width: 200px; 
    margin: auto;
    padding: auto;
    /* reduce the space between the logo and the form */
}

/** FORM **/

h1{
    font-weight: lighter;
    font-size: 20pt;
    color: rgb(50, 50, 50);
}

p{
    font-size: 10pt;
}

form{
    background-color: #fff;
    max-width: 500px; 
    margin: 2rem auto;
    padding: 2rem;
    border: .05rem solid rgb(167, 167, 167);
    border-radius: .25rem;
}

label{
    display: block;
    font-size: 11pt;
    padding: 1rem 0 .3rem; /* 0 makes it inline the elements from top to bottom */
    color: rgb(50, 50, 50);
}

#forgot-pwd{
    margin-left: 58%;    
    /* font-size: 10pt; */
}

input{
    display: block;
    width: 100%;
    border: .09rem solid rgb(167, 167, 167);
    border-radius: .1rem;
    padding: .5rem;
    font-size: 10pt;
    color: rgb(50, 50, 50);
}


    /* buttons */

#continue-btn, #create-btn{
    color: rgb(50, 50, 50);
    font-size: 11pt;
    margin: 1.5rem 0;
    cursor: pointer;
    /* border: .09rem solid rgb(167, 167, 167); */
    /* padding: .5rem; */

}

#continue-btn{
    background: linear-gradient(#ffedc5, #ffc852);   
    /* background: linear-gradient(#ffd57cd2, #ffd478, #ffd57cd2); */
}

#continue-btn:hover{ 
    background: #ffedc5;
    /* linear-gradient(darken, #ffedc5 50%, #ffc852 50%) > didn't work, will look later */
}

#continue-btn:active{
    background: #ffc852;
}

#create-btn{
    background: linear-gradient(rgb(255, 255, 255), rgb(209, 209, 209));
    /* background: linear-gradient(rgb(255, 255, 255), rgb(234, 234, 234), rgb(255, 255, 255)); */
}

#create-btn:hover{
    background: rgb(248, 248, 248);
}

#create-btn:active{
    background: rgb(209, 209, 209);
}


/* THE BOTTOM OUTER PART OF THE FORM FRAME */

.under-form{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

h5 {
    border-bottom: 1px solid lightgray; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: normal;
    color: rgb(167, 167, 167);
 } 
 
h5 span { 
    background:#fff; 
    padding:0 10px; 
}


 /* FOOTER */

footer{
    border-top: 0.5mm solid lightgray;
    margin-top: 80px;
    padding: 50px;
    text-align: center;
    font-size: 9pt;
 }

footer p{
    color: gray;
}


/* LINKS */

a{
    text-decoration: none;
    color: #146EB4;
}

a:hover {
    color: rgb(142, 31, 0);
}

a:active { /* selected */
    color: rgb(213, 46, 0);
}

li{
    display: inline; /*same line nav items*/
    margin-right: 30px;
    list-style: none;
 }


/* to center the content you can use: specify the width of the box and set left/right margin to auto */ 